{% extends 'base.html.twig' %}

{% block title %}
	Student index

{% endblock %}
{% block maintitle %}

	{% trans %}
	Student
	{% endtrans %}
{% endblock %}
{% block breadcrumb %}

	<li class="breadcrumb-item ">
		<a href="{{ path('app_student_index') }}">
			{% trans %}
			Student
			{% endtrans %}
		</a>
	</li>

{% endblock %}

{% block body %}
	{% embed 'common/index.html.twig' %}
	
		{% block table %}
			<thead>
				<tr>
					<th>#</th>
					<th class="align-middle">IDNumber</th>

					<th class="align-middle">FullName</th>
					<th class="align-middle">Sex</th>
					<th class="align-middle">Age</th>
					<th class="align-middle">Phone</th>
                     <th class="align-middle">EntranceYear</th>
                    <th class="align-middle">StartGrade</th>


					
					<th class="align-middle">Status</th>

				
                <th class="align-middle">CreatedBy</th>
			<th class="align-middle">CreatedAt</th>


					<th class="align-middle">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>
							{{loop.index}}

						</td>
						<td class="align-middle text-nowrap">{{ data.idNumber }}</td>

						<td class="align-middle text-nowrap">{{ data.getFullName|upper }}</td>
						<td class="align-middle">{{ data.sex }}</td>
						<td class="align-middle">{{ data.age }}</td>
						<td class="align-middle">{{ data.phone }}</td>
                    <td class="align-middle">{{ data.entranceYear }}</td>

						<td class="align-middle">{{ data.grade }}</td>
					<td class="align-middle">{{ data.status }}</td>

						

						

						<td class="align-middle">{{ data.createdBy }}</td>
						{# <td class="align-middle"><a href="{{ vich_uploader_asset(data, 'documentFile') }}" target="_blank"> document</a></td> #}

						<td class="align-middle">{{ data.createdAt ? data.createdAt|date('Y-m-d') : '' }}</td>
						<td class="project-actions text-right">
							<a href="{{ path('app_student_show', {'id': data.id}) }}" title="view" class="btn btn-info btn-sm d-inline text-nowrap">
								<i class="fa fa-eye mr-1"></i>View</a>
							<a href="{{ path('app_student_edit', {'id': data.id}) }}" title="edit" class="btn btn-warning btn-sm mt-1">
								<i class="fa fa-edit mr-1">Edit</i>
							</a>
							

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endblock %}
	{% endembed %}

{% endblock %}
{% block javascripts %}
	<script>
		$(function () { // Initialize Select2 Elements
$('.select2').select2({theme: 'bootstrap4'});
});
	</script>

{% endblock %}
