{% extends 'base.html.twig' %}

{% block title %}BudgetExpensePlan{% endblock %}

{% block body %}
    <h1>BudgetExpensePlan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ budget_expense_plan.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ budget_expense_plan.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ budget_expense_plan.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ budget_expense_plan.description }}</td>
            </tr>
            <tr>
                <th>PlanValue</th>
                <td>{{ budget_expense_plan.planValue }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ budget_expense_plan.createdAt ? budget_expense_plan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ budget_expense_plan.updatedAt ? budget_expense_plan.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_budget_expense_plan_index') }}">back to list</a>

    <a href="{{ path('app_budget_expense_plan_edit', {'id': budget_expense_plan.id}) }}">edit</a>

    {{ include('budget_expense_plan/_delete_form.html.twig') }}
{% endblock %}
