{% extends 'base.html.twig' %}

{% block title %}
	Student index

{% endblock %}
{% block maintitle %}

	{% trans %}
	Student Payment
	{% endtrans %}
{% endblock %}
{% block breadcrumb %}

	<li class="breadcrumb-item ">
		<a href="{{ path('app_student_index') }}">
			{% trans %}
			Student Payment
			{% endtrans %}
		</a>
	</li>

{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card card-info card-outline ">
				<div class="card-body">
					<h3 class="d-inline mr-2">
						<strong class="text-info">Year:
							{{year}}</strong>
					</h3>
					<h3 class="d-inline ">
						Grade:<strong class="text-info">
							{{grade}}</strong>
					</h3>
					{# <h3 class="d-inline mr-3">
						Fee Type:
						<strong class="text-primary">{{fee_type}}</strong>
					</h3>
					<h3 class="d-inline ">
						Amount:<strong class="text-success">
							{{fee_type.fee}}</strong>
					</h3> #}


					<div class="float-right">
						<form action="" method="post" class="float-right mr-2 mb-2 d-inline" onsubmit="return confirm('Are you sure you want to Exit?');">
							<input type="hidden" name="close" value="true">
							<button type="submit" class="btn btn-danger">
								Exit</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	{% embed 'common/index.html.twig' %}
	{% block filter_form %}
    {{ form_start(form,{'attr': {'role':'form','id':'filteruserform' }}
    ) }}
    <div class="row">
        
        <div class="form-group col-md-4">
            <label class="col-sm-5 control-label no-padding-right">
                {{ form_label(form.student) }}
            </label>
            {{ form_widget(form.student,{'attr':{'class':'select2 form-control' }}
            ) }}

            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-sm-5 control-label no-padding-right">
                {{ form_label(form.type,'Fee Type') }}
            </label>
            {{ form_widget(form.type,{'attr':{'class':'select2 form-control' }}
            ) }}

            <div class="help-block with-errors"></div>
        </div>
        
    
    
        <div class="form-group col-md-4">

            <div class="row">
                <div class="col-md-8">
                    <label class="col-sm-5 control-label no-padding-right">
                        {{ form_label(form.status) }}
                    </label>
                    {{ form_widget(form.status,{'attr':{'class':'select2 form-control' }}
                    ) }}

                </div>
                <div class="col-md-2 mt-4">
                    <button class="btn btn-info btn-sm  btn-flat mt-3" type="submit">
                        Filter
                    </button>
                </div>
                <div class="col-md-2 mt-4">
                    <input type="submit" class="btn btn-warning btn-sm btn-flat mt-3" value="Clear" name="reset"/>

                </div>
            </div>
            <div class="help-block with-errors"></div>

        </div>
        {# <div class="form-group col-md-2 float-right">
      <input type="submit" class="btn btn-secondary float-right mt-5 " value="PDF" name="pdf">
        </div> #}
    </div>
    {{ form_end(form) }}
{% endblock %}

		{% block table %}
			<thead>
				<tr>
					<th>#</th>
					<th class="align-middle">{{ knp_pagination_sortable(datas, 'IDNumber', 's.idNumber') }}</th>
					<th class="align-middle">{{ knp_pagination_sortable(datas, 'FullName', 's.firstName') }}</th>

					{# <th class="align-middle">FullName</th> #}
					<th class="align-middle">Sex</th>

					<th class="align-middle">Year</th>
					<th class="align-middle">Grade</th>


					<th class="align-middle">isFree</th>

					<th class="align-middle">FeeType</th>
					<th class="align-middle">Amount</th>
					<th class="align-middle">isPaid</th>


					<th class="align-middle">ReceiptNumber</th>


					<th class="align-middle">actions</th>
				</tr>
			</thead>
			<tbody>

				{% set c =  datas.getItemNumberPerPage() * (datas.getCurrentPageNumber() -1) %}

				{% for data in datas %}
					{% set c = c+1 %}
					<tr>
						<td>
							{{c}}

						</td>
						<td class="align-middle text-nowrap">{{ data.student.idNumber }}</td>

						<td class="align-middle text-nowrap">{{ data.student.getFullName|upper }}</td>
						<td class="align-middle">{{ data.student.sex }}</td>

						<td class="align-middle">{{ data.registration.year }}</td>

						<td class="align-middle">{{ data.registration.grade }}</td>
						<td class="align-middle">
							<span class="badge {{data.registration.isFree?'badge-info':'badge-danger'}}">{{ data.registration.isFree==true?'Yes':'No' }}</span>
						</td>
						<td class="align-middle">{{ data.type }}</td>
						<td class="align-middle">{{ data.amount }}</td>


						<td class="align-middle">
							<span class="badge {{data.receiptNumber?'badge-info':'badge-danger'}}">{{ data.receiptNumber?'Yes':'No' }}</span>
						</td>

						<td class="align-middle">

							{% if data.receiptNumber %}
								{{data.receiptNumber}}
							{% else %}
								<form action="" method="get" id="form{{data.id}}" onsubmit="return confirm('Are you sure you want to submit this payment?');">
									<input type="hidden" name="paid" value="{{data.id}}">
									<input type="text" name="receipt" placeholder="enter receipt no" required>
								</form>

							{% endif %}
						</td>
						<td class="project-actions text-right">

							{% if data.receiptNumber %}
								<form action="" method="get" onsubmit="return confirm('Are you sure you want to cancel this payment?');">
									<input type="hidden" name="cancel" value="{{data.id}}">
									<button type="submit" class="btn btn-danger btn-sm" title="undo">
										<i class="fa fa-undo "></i>
										Undo
									</button>

								</form>

							{% else %}
								<input type="submit" name="pay" value="pay" class="btn btn-primary" form="form{{data.id}}">
							{% endif %}


						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endblock %}
	{% endembed %}

{% endblock %}
{% block javascripts %}
	<script>
		$(function () { // Initialize Select2 Elements
$('.select2').select2({theme: 'bootstrap4'})

// $('.select2').select2({theme: 'bootstrap4'});

$('.select2bs4').select2({theme: 'bootstrap4'})

});
	</script>

{% endblock %}
