{% extends 'base.html.twig' %}

{% block title %}
	Special  Fee index


{% endblock %}
{% block maintitle %}

	{% trans %}
	Special  Fee

	{% endtrans %}
{% endblock %}
{% block breadcrumb %}

	<li class="breadcrumb-item ">
		<a href="{{ path('app_credit_index') }}">
			{% trans %}
			Special  Fee

			{% endtrans %}
		</a>
	</li>
	
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md card-primary card-outline">

			<div class="card ">
				<div class="card-header">

					<form class="form-inline card-title" method="POST" id="filter">
						<div class="input-group ">
							<input class="form-control" autocomplete="off" name="name" type="search" placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button class=" input-group-text btn btn-navbar " type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body mb-0 pb-0">
					

				</div>
				<!-- /.card-body -->
			</div>

			<div class="card-body">
				<div class="row">
					Total :


					{{ datas.getTotalItemCount }}
					Users
					<div class="form-group col-md-12 float-right">
					<input type="submit" class="btn btn-secondary float-right  " value="PDF" name="pdf" form="filter">
					  </div>

					<div class="table-responsive">
						<table class="table table-hover  projects table-bordered">
							<thead>
								<tr>
									<th>
										#

									</th>
									<th class="align-middle">
										Name
									</th>
                                    <th class="align-middle">
										Fee Type
									</th>

									<th class="align-middle">
										Amount
									</th>
									<th class="align-middle">
										ReceiptNumber
									</th>

									<th class="align-middle">
										Reason
									</th>
									<th class="align-middle">
										Date
									</th>
									<th class="align-middle">
										Cashier
									</th>

									<th class="align-middle">
										Action
									</th>

								</tr>
							</thead>
							<tbody>
								{% set i = 1 %}
								{% for data in datas %}
									<tr>
										<td>
											{{ i }}
											{% set i = i+1 %}
										</td>
										<td>
											{{ data.name|title }}
										</td>
                                        <td>
											{{ data.type|title }}
										</td>
										<td>
											{{ data.amount }}
										</td>
                                        <td>
											{{ data.receiptNumber }}
										</td>
									

										<td>
											{{ data.description }}

										</td>
										<td>
											{{ data.createdAt|date('d-m-Y') }}
										</td>
										<td>
											{{ data.createdBy|title }}

										</td>
										<td>
											<a href="{{ path('app_special_income_edit', {'id': data.id}) }}" title="edit" class="btn btn-warning btn-sm  d-inline">
										<i class="fa fa-edit mr-1"></i>
									    </a>
										{{ include('special_income/_delete_form.html.twig') }}


												
											

										</td>
									</tr>
								
							
						
					{% else %}
						<tr>
							<td colspan="9">
								no records found
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<div class="float-right" id="custompaginator">
			{{ knp_pagination_render(datas) }}
		</div>

	</div>
</div></div></div>{% endblock %}{% block javascripts %}<script>$(function () { // Initialize Select2 Elements
$('.select2').select2({theme: 'bootstrap4'});
});</script>{% endblock %}
