{% extends 'print.html.twig' %}

{% block title %}
	{{app.request.server.get("SYSTEM_NAME")|title}}
{% endblock %}
{% block maintitle %}
	{{app.request.server.get("SYSTEM_NAME")|title}}
{% endblock %}
{% block body %}
	<center>
		<h2>
			<b>
				<u>
					TOWHID SCHOOL SPECIAL INCOME REPORT</u>
			</b>
		</h2>
	</center>
	<br>

	<table style="width:100%">
		<thead>
			<tr>

				<th>
					#

				</th>
				<th class="align-middle">
			{% trans %}Title{% endtrans %}
				</th>

				<th class="align-middle">
			{% trans %}Amount{% endtrans %}
				</th>
				

				<th class="align-middle">
			{% trans %}Reason{% endtrans %}
				</th>
				<th class="align-middle">
			{% trans %}	Date{% endtrans %}
				</th>
				<th class="align-middle">
			{% trans %}Cashier{% endtrans %}
				</th>


			</tr>
		</thead>
		<tbody>
			
			{% set i = 1 %}
								{% for data in datas %}
									<tr>
										<td>
											{{ i }}
											{% set i = i+1 %}
										</td>
										<td>
											{{ data.name|title }}
										</td>
										<td>
											{{ data.amount }}
										</td>
										

										<td>
											{{ data.description }}

										</td>
										<td>
											{{ data.createdAt|date('d-m-y') }}
										</td>
										<td>
											{{ data.createdBy|title }}

										</td>
                                    </tr>
								
							
						
                                    {% else %}
                                        <tr>
                                            <td colspan="5">
                                                no records found
                                            </td>
                                        </tr>
                                    {% endfor %}
		</tbody>
	</table>

{% endblock %}
