{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}
<div class="card">
	<div class="card-header">

		<div class="card-header">
			<h5 class="card-title">{% trans %}Penality Fee Information{% endtrans %}</h5>

			<div class="card-tools">
				<a href="{{path('app_penality_fee_index')}}" class="btn btn-info btn-sm">{% trans %}back to list{% endtrans %}</a>


			</div>
		</div>


		<div class="card-body">
			<div class="row ">
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.budget,"budget")}}
					{{ form_widget(form.budget,{'attr':{'class':form_errors(form.budget)? 'form-control select2 is-invalid user_idNumber':'form-control select2 user_idNumber','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.budget)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.user)}}
					{{ form_widget(form.user,{'attr':{'class':form_errors(form.user)? 'form-control select2 is-invalid':'form-control select2','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.user)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.type)}}
					{{ form_widget(form.type,{'attr':{'class':form_errors(form.type)? 'form-control select2 is-invalid':'form-control select2','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.type)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.amount)}}
					{{ form_widget(form.amount,{'attr':{'class':form_errors(form.amount)? 'form-control is-invalid':'form-control','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.amount)}}</div>
				</div>
                <div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.receiptNumber)}}
					{{ form_widget(form.receiptNumber,{'attr':{'class':form_errors(form.receiptNumber)? 'form-control is-invalid':'form-control','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.receiptNumber)}}</div>
				</div>

				


			

				<div class="form-group mt-2 col-md-12 col-sm-6 ">
					{{form_label(form.description)}}
					{{ form_widget(form.description,{'attr':{'class':form_errors(form.description)? 'form-control is-invalid user_kebele':'form-control user_kebele','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.description)}}</div>
				</div>
				{# <div class="form-group mt-2 col-md-4 col-sm-6 ">
				                {{form_label(form.profileFile)}}
				                {{ form_widget(form.profileFile,{'attr':{'class':form_errors(form.profileFile)? 'form-control is-invalid user_insuranceNumber':'form-control user_insuranceNumber','placeholder':"Enter..."}}) }}
				                <div class="help-block text-danger">{{form_errors(form.profileFile)}}</div>
				            </div>
				            <div class="form-group mt-2 col-md-4 col-sm-6 ">
				                {{form_label(form.documentFile)}}
				                {{ form_widget(form.documentFile,{'attr':{'class':form_errors(form.documentFile)? 'form-control is-invalid user_cardNumber':'form-control user_cardNumber','placeholder':"Enter..."}}) }}
				                <div class="help-block text-danger">{{form_errors(form.documentFile)}}</div>
				            </div> #}


				{# <div class="form-group mt-2 col-md-4 col-sm-6 ">
				            {{form_label(form.email)}}
				            {{ form_widget(form.email,{'attr':{'class':form_errors(form.email)? 'form-control is-invalid user_email':'form-control user_email','placeholder':"Enter..."}}) }}
				            <div class="help-block text-danger">{{form_errors(form.email)}}</div>
				        </div> #}


			</div>
		</div>
		<div class="card-footer float-right">
			<a href="{{app.request.headers.get('referer')}}" class="btn btn-info ">back</a>
			<button class="btn  btn-success ">{{ button_label|default('Register') }}</button>

		</div>
	</div>


	{{ form_end(form,{render_rest: false}) }}
