{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}


<div class="card ">

		<div class="card-header">
			<h5 class="card-title">{% trans %}Student Registration{% endtrans %}</h5>

			<div class="card-tools">
				<a href="{{path('app_user_info_index')}}" class="btn btn-info btn-sm">{% trans %}back to list{% endtrans %}</a>


			</div>
		</div>


		<div class="card-body">
			<div class="row ">


				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.student)}}
					{{ form_widget(form.student,{'attr':{'class':form_errors(form.student)? 'form-control is-invalid select2bs4':'form-control select2bs4','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.student)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.year)}}
					{{ form_widget(form.year,{'attr':{'class':form_errors(form.year)? 'form-control is-invalid select2bs4':'form-control select2bs4','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.year)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
					{{form_label(form.grade)}}
					{{ form_widget(form.grade,{'attr':{'class':form_errors(form.grade)? 'form-control is-invalid select2bs4':'form-control select2bs4','placeholder':"Enter..."}}) }}
					<div class="help-block text-danger">{{form_errors(form.grade)}}</div>
				</div>
				<div class="form-group mt-2 col-md-4 col-sm-6 ">
<label class="">					{{form_label(form.isFree)}} {{ form_widget(form.isFree,{'attr':{'class':form_errors(form.isFree)? 'form-control is-invalid user_age':'form-control d-inline user_age','placeholder':"Enter..."}}) }}</label>
					
					<div class="help-block text-danger">{{form_errors(form.isFree)}}</div>
				</div>


				{# <div class="form-group mt-2 col-md-4 col-sm-6 ">
									{{form_label(form.phone)}}
									{{ form_widget(form.phone,{'attr':{'class':form_errors(form.phone)? 'form-control is-invalid user_phone':'form-control user_phone','placeholder':"Enter..."}}) }}
									<div class="help-block text-danger">{{form_errors(form.phone)}}</div>
								</div> #}


			</div>
		</div>
		<div class="card-footer float-right">
			<a href="{{app.request.headers.get('referer')}}" class="btn btn-info ">back</a>
			<button class="btn  btn-success ">{{ button_label|default('Register') }}</button>

		</div>
	</div>



	{{ form_end(form,{render_rest: false}) }}
