{% extends 'base.html.twig' %}

{% block title %}StudentRegistration index{% endblock %}

{% block body %}
    <h1>StudentRegistration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsFree</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_registration in student_registrations %}
            <tr>
                <td>{{ student_registration.id }}</td>
                <td>{{ student_registration.isFree ? 'Yes' : 'No' }}</td>
                <td>{{ student_registration.createdAt ? student_registration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student_registration.updatedAt ? student_registration.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_student_registration_show', {'id': student_registration.id}) }}">show</a>
                    <a href="{{ path('app_student_registration_edit', {'id': student_registration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_registration_new') }}">Create new</a>
{% endblock %}
