{% extends 'base.html.twig' %}

{% block title %}StudentRegistration{% endblock %}

{% block body %}
    <h1>StudentRegistration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_registration.id }}</td>
            </tr>
            <tr>
                <th>IsFree</th>
                <td>{{ student_registration.isFree ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ student_registration.createdAt ? student_registration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ student_registration.updatedAt ? student_registration.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_registration_index') }}">back to list</a>

    <a href="{{ path('app_student_registration_edit', {'id': student_registration.id}) }}">edit</a>

    {{ include('student_registration/_delete_form.html.twig') }}
{% endblock %}
